<div id="content" class="comments container">
<% topic = Topic.find(params[:topic_id]) %>
<div class="box white">
	<div class="top">
		<div class="top"><div class="top">&nbsp;</div></div>
	</div>
	<div class="middle">
		<div class="middle"><div class="middle">
			<div class="content">

				<h2>Gold Price News</h2>

				<div class="header">
					<div class="vote">
						<% if (!(topic.upvoted_by != nil && session[:login] != nil && (topic.upvoted_by.include? session[:login])) && (topic.user_id != session[:user_id])) %>
							<span class="vote"><%= link_to "vote", {:action=>'upvote_topic',:id=>topic.id}, :class=>"ajax_request no_history" %></span>
						vote
						<% end %>
					</div>

					<div class="topic">
						<% if topic.subject.size > 76 %>
							<h2><%= topic.subject.slice(0,77)+'...' %>&nbsp;</h2>
						<% else %>
							<h2><%= topic.subject %>&nbsp;</h2>
						<% end %>
						<span class="points">&nbsp;&nbsp;&nbsp;&nbsp;<%= tp=topic.points %> <% if tp==1 %> point <% else %> points <% end %></span>
						<span class="date">
							<% 
								@blob = ((DateTime.now.change(:offset=>"+0000").to_i - topic.created_at.strftime("%s").to_i)/60) 
								@text = "minutes ago"
								if @blob > 120 then @blob = @blob/60; @text="hours ago"; end
								if @blob > 48 && @text=="hours ago" then @blob = @blob/24; @text="days ago"; end
								if @blob > 730 && @text=="days ago" then @blob = @blob/365; @text="years ago"; end 
							%>
							<%= @blob %> <%= @text %>
						</span>
						<span class="by">by <%= User.where(:id => topic.user_id).first.login %></span>
					</div>

					<div class="rightBox">
						<div class="in">
							<div class="in">
<span class="go_back"><%= link_to "go back", {:controller=>'topics',:action=>'list'} %></span>								
							</div>
						</div>
					</div>
				</div>
				
				<div class="comment">
					<div class="left <%= topic.url != '' ? '' : 'full' %>">
					<% if topic.url != '' %>
						<div class="snippet">
							<% if defined? topic.snippet %>
								<%= topic.snippet %>
							<% end%>
						</div><br>
						<div class="source">Source:</div>
						<div class="url_link"><%= link_to(topic.subject,topic.url,:target=>'_blank') %></div>
					<% end %>
					<% if topic.text != '' %>
                        <% if topic.text != nil %>
                            <% if topic.url != '' %>
                                Source:
                            <% end %>
                            <br>
                            <span class="topic_subject">
                                <%= word_wrap topic.subject %>
                            </span>
                            <span class="topic_by">
                                by <%= word_wrap User.where(:id => topic.user_id).first.login %>
                            </span><br><br>
                            <span class="topic_text">
                                <%= sanitize(topic.text, :tags => %w(p strong span), :attributes => %w(style)) %>
                            </span>
                        <% end %>
					<% end %>
					</div>

					<div class="right <%= topic.url != '' ? '' : 'full' %>">

						<div class="box green">
							<div class="h"><div><div> </div></div></div>

							<div class="content">
								<div class="g"> </div>

								<p>Your comment:</p>

								<%=form_for(:comment, :url=>{:action => 'create',:topic_id=>topic.id,:reply=>'false'}, :html => {:class=>"ajax_request no_history"}) do |f| %>

								<%= f.text_area :comment %>

								<div class="submit">
									<%= link_to("clear", :back, :class=>"cancel clear_textarea") %>
									<%= submit_tag("add comment")%>
								</div>

								<% end %>

							</div>
							<div class="f"><div><div> </div></div></div>
						</div>
					</div>
					<div class="clear"></div>
				</div>

				<div class="listing">
				<% @comments.each_with_index do |comment,iterator| %>

					<div class="comment" style="width: <%= 100 - comment.tab * 2 %>%">

						<div class="h"><div><div> </div></div></div>
						
						<div class="m"><div class="m"><div class="m">
							<div class="text"><%= sanitize(comment.comment, :tags => %w(p strong span em), :attributes => %w(style)) %></div>
						</div></div></div>

						<div class="f container"><div class="f"><div class="f">

						<% 
							@blob = ((DateTime.now.change(:offset=>"+0000").to_i - comment.created_at.strftime("%s").to_i)/60)
					 		@text = "minutes ago"
					 		if @blob > 120 then @blob = @blob/60; @text="hours ago"; end 
					 		if @blob > 48 && @text=="hours ago" then @blob = @blob/24; @text="days ago"; end 
					 		if @blob > 730 && @text=="days ago" then @blob = @blob/365; @text="years ago"; end
						%>
						<span class="date"><%= @blob %> <%= @text %></span>
						<span class="by">by <%= User.find(comment.user_id).login %></span>

						<% if session[:user_id] != nil && comment.user_id != session[:user_id] && !(comment.upvoted_by.include? session[:login] if comment.upvoted_by != nil) %>
							<span class="vote"><%= link_to "upvote", {:action=>'upvote', :id=>comment.id, :notice=>"Comment upvoted!"}, :class=>"ajax_request no_history", :rel=>"content" %></span>
						<% end %>
						<span class="points">
							<% cp=comment.points.to_i %>
							<% if cp!=1 %>
								<%= cp %> points
							<% else %> 
								<%= cp %> point 
							<% end %>
						</span>

						<div class="actions">
							<% if comment.user_id == session[:user_id] %>
								<% if Comment.where(:replyTo=>comment.id).size == 0 %>
									<%= link_to "edit", {:action => 'edit', :id => comment.id}, :class => "edit ajax_request no_history" %>
									<%= link_to "delete", {:action => 'delete', :id=>comment.id, :topic_id=>params[:topic_id]}, :class=>"delete"%>
								<% end %>
								<div class="delete-box" style="display: none;">
									<a href="/comments/destroy/<%= comment.id %>?topic_id=<%= params[:topic_id]%>" rel="content" class="yes no_history ajax_request">Yes</a>
									<a href="#" class="no no_history">No</a>
								</div>
							<% end %>
							
							<% if session[:login] == 'admin' %>
									<%= link_to "edit", {:action => 'edit', :id => comment.id}, :class => "edit ajax_request no_history" %>
									<%= link_to "delete", {:action => 'delete', :id=>comment.id, :topic_id=>params[:topic_id]}, :class=>"delete"%>
								<div class="delete-box" style="display: none;">
									<a href="/comments/destroy/<%= comment.id %>?topic_id=<%= params[:topic_id]%>" rel="content" class="yes no_history ajax_request">Yes</a>
									<a href="#" class="no no_history">No</a>
								</div>
							<% end %>
							
							<%= link_to "reply", {:action => "reply", :id => comment.id,}, :class => "reply ajax_request no_history" %>
						</div>
						
					</div></div></div>
					
					<div id="reply_<%= comment.id %>" class="reply" style="display: none;">
					</div>
					
				</div>
				<% end %>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>

			</div>
		</div></div>
	</div>
<div class="bottom"><div class="bottom"><div class="bottom">&nbsp;</div></div></div>
</div>
</div>
