<div class="guidelines">
	<h3>add comment</h3>
	<%= User.find(@previous_comment.user_id).login %> wrote
			<% @blob = ((Time.now.to_i - @previous_comment.created_at.strftime("%s").to_i)/60) %>
			 <% @text = "minutes ago:"%>
			 <% if @blob > 120 then @blob = @blob/60; @text="hours ago"; end %> 
			 <% if @blob > 48 && @text=="hours ago" then @blob = @blob/24; @text="days ago"; end %> 
			 <% if @blob > 730 && @text=="days ago" then @blob = @blob/365; @text="years ago"; end %> 
			 <%= @blob %> <%= @text %> <br>
	<pre><%= word_wrap @previous_comment.comment %></pre>
		<%=form_for(:comment, :url=>{:action => 'replied', :id=>@comment.id, :previous_id=>@previous_comment.id,:topic_id=>@previous_comment.topic_id}) do |f| %>
			<%= f.text_area(:comment, :size=>"65x10")%>
			<br>
			<%= submit_tag("reply")%>
<% end %>
</div>

