<div id="dialog_content" class="login_content">

	<div class="header">
		<p class="login">Login</p>
		<p class="register">Create account</p>
	</div>

	<% if !params[:notice].blank? %>
	<div class="notice">
		<%= params[:notice] %>
	</div>
	<% end %>


	<div class="login">
		<%= form_tag({:controller=>'topics',:action => 'attempt_login',:topic_id=>params[:topic_id],:reply=>params[:reply],:topic=>params[:topic]}, {:class => 'dialog', :rel=>'dialog_content'}) do %>
			<div><%= label_tag(:login) %> <%= text_field_tag(:login) %></div>
			<div class="clear"><%= label_tag(:password) %> <%= password_field_tag(:password) %></div>
		<%= submit_tag("login")%>
	<% end %>
	</div>

	<div class="register">
		<%= form_tag({:controller=>'topics',:action => 'create_account',:topic_id=>params[:topic_id],:comment=>nil,:topic=>params[:topic]}, {:class => 'dialog', :rel=>'dialog_content'}) do %>
			<div><%= label_tag(:login) %> <%= text_field_tag(:login) %></div>
			<div><%= label_tag(:password) %> <%= password_field_tag(:password) %></div>
		<%= submit_tag("create account")%>
		<% end %>
	</div>

	<div class="form-buttons">
		<a class="dialog_close">close</a>
	</div>
			
</div>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
	  _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
	  _gaq.push(['_setAccount', 'UA-31150857-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>