<% @page_title = "Live Gold Chart & News" %>

<% $per_page = 8 %>

<div class="box white">
	<div class="top">
		<div class="top"><div class="top">&nbsp;</div></div>
	</div>
	<div class="middle">
		<div class="middle"><div class="middle">
			<div class="content">
				<div class="h1">Discuss the news</div>

				<div class="header">

					<div class="search_string">
						<div class="in">
							<div class="in">
								<%= form_tag topics_path do %>
									<%= text_field_tag :search_string %>
									<%= submit_tag "Search" %>
								<% end %>
<!--
								<input name="string" type="text" />
								<input name="Search" type="submit"/>
-->
							</div>
						</div>
					</div>

					<div class="sort">
						<span>Sort by</span>
						<span class="sort left"><%= link_to "Popularity", topics_path(:sort=>'popularity'), :class => 'sort left' %></a>
						<span class="sort right"><%= link_to "Date", topics_path(:sort=>'date'), :class => 'sort right' %></span>
					</div>

					<div class="rightBox">
						<div class="in">
							<div class="in">
								<span class="add_thread"><%= link_to "add thread", {:action=>'new'}, :class => 'add_thread' %></span>
							</div>
						</div>
					</div>
				</div>
				<table class="topics">
					<% if @topics.size > @next*$per_page then end_step=@next*$per_page else end_step=@topics.size end %>
					<% for i in @next*$per_page-($per_page-1)..end_step do %>

					<% 
						topic = @topics[i-1]

						if defined?(topic.id)
							topic_id = topic.id
							topic_url = topic.url
							topic_user_id = topic.user_id
							topic_subject = topic.subject
							topic_points = topic.points
							topic_created_at = topic.created_at
							topic_upvoted_by = topic.upvoted_by
						else
							topic_id = topic["id"].to_i
							topic_url = topic["url"]
							topic_user_id = topic["user_id"].to_i
							topic_subject = topic["subject"]
							topic_points = topic["points"].to_i
							topic_created_at = topic["created_at"].to_date
							topic_upvoted_by = topic["upvoted_by"]
						end 
					%>
					<tr>	
						<td class="no"><span class="no"><%= i %></span></td>
						<td class="vote">
							<span class="vote"><%= link_to "vote", {:action=>'upvote',:id=>topic_id}, :class => "vote" %></span>
							vote
						</td>
						<td class="topic">
							<span class="topic">
							<% if topic_url != '' %>
								<%= link_to(topic_subject,topic_url,:target=>'_blank') %>
							<% else %>          
								<%= link_to(topic_subject,:controller=>'comments',:topic_id=>topic_id) %>
							<% end %>
							</span>
							<span class="points"><%= tp=topic_points %> <% if tp==1 %> point <% else %> points <% end %></span>
							<span class="date">
							<% 
								@blob = ((Time.now.to_i - topic_created_at.strftime("%s").to_i)/60) 
								@text = "minutes ago"
								if @blob > 120 then @blob = @blob/60; @text="hours ago"; end
								if @blob > 48 && @text=="hours ago" then @blob = @blob/24; @text="days ago"; end
								if @blob > 730 && @text=="days ago" then @blob = @blob/365; @text="years ago"; end 
							%>
							<%= @blob %> <%= @text %>
							</span>
							<span class="by">by <%= User.where(:id => topic_user_id).first.login %></span>
						</td>
						<td class="comments_count">
							<% cs = Comment.where(:topic_id=>topic_id).size %>
							<%= cs %>
							<% if cs <= 1 %>
								comment
							<% else %>
								comments
							<% end %>
						</td>
						<td class="discuss">
							<span class="discuss"><%= link_to "discuss", {:controller=>'comments',:action=>'index',:topic_id=>topic_id}, :class => "discuss" %></span>
						</td>
					</tr>
					<% end %>
				</table>
				<div class="footer">

					<div class="pagination">
						<div class="step next">
						<% if @next>1 then %>
							<%= link_to "Previous page",{:action=>'list',:next=>@next.to_i-2} %>
						<% end %>
						</div>

						<div class="pages">
							<% 
								$i = 0
								$pages = (@topics.size/$per_page.to_f).floor
							%>

							<% begin %>


								<% 
									$class = '';
									if (@next.to_i - 1) == $i then $class = 'current' end
								%>
								<%= link_to ($i+1), {:action=>'list', :next=> $i}, :class => $class %>

								<% $i += 1; %>
							<% end until $i > $pages %>

						</div>

						<div class="step previous">
						<% if @topics.size > @next*$per_page then %>
							<%= link_to "Next page", :action=>'list',:next=>@next %>
						<% end %>
						</div>
					</div>

					<div class="rightBox">
						<div class="in">
							<div class="in">
								<span class="add_thread"><%= link_to "add thread", {:action=>'new'}, :class => 'add_thread' %></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div></div>
	</div>
<div class="bottom"><div class="bottom"><div class="bottom">&nbsp;</div></div></div>
</div>

<br><br><br><br><br><br><br><br><br><br><br>

<font size="14" face="myFont">sh<font color="red">1</font>ny<font color="#DEDEDE"> news </font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font>
	<div style="float:right" id="hello_world" class='listalista'>		
	<%= link_to("chart",:action=>'chart') %>&nbsp;&nbsp;
	<%= link_to("news",:action=>'list',:class=>'listalista_red') %>&nbsp;&nbsp;
	<%= link_to("videos",:action=>'videos') %>&nbsp;&nbsp;
	<%= link_to("contact", :action=>'contact')%>
	&nbsp;&nbsp;&nbsp;
	</div>
	<br>
	<div style="float:center" id="hello_world" class='listalista'>
	<font size="1pt">
	<% if session[:login] == nil %>
		<%= link_to("login/create account",:action=>'login',:notice=>'e-mail not required to create an account.') %>&nbsp;
	<% else %>
		<%= link_to("logut", :action=>'logout') %>
		<%= link_to("add thread",:action=>'new')%>
		<%= session[:login] %>&nbsp;<%= p=User.find(session[:user_id]).karma %>&nbsp;<% if p == 1 %>point<% else %>points<% end %>
	<% end %></style>

	<% login = session[:login] %>
	<% if login == nil then login="a" end %>

	<%= link_to("add thread",:action=>'new') if session[:login] == nil %>&nbsp;
	<%= link_to("guidelines", :action=>'guidelines')%>&nbsp;<hr>
	</div>
	</font>- ->
	<% if !params[:notice].blank? %>
		<div class="notice">
			<%= params[:notice] %>
		</div>
	<% end %>
	<!--table class="listing" summary="news list"-->
		<% if @topics.size > @next*30 then end_step=@next*30 else end_step=@topics.size end %>
		<% for i in @next*30-29..end_step do %>
		<br>
		<% j = i-1 %>
		<% topic = @topics[j] %>
		<% noEditNoDelete = false %>
		<% if Comment.where(:topic_id=>topic_id).size > 0 then noEditNoDelete = true end %>
				<font size = 1em>
				<font class="subject_list_text">
				<%=	i %>.
				</font>
				<% if (session[:user_id] != topic_user_id && !(topic_upvoted_by.include? login if topic_upvoted_by != nil)) || session[:user_id] == nil %>
					<%= link_to image_tag("upvote2.png", :border => "0", :onmouseover => "this.src='/assets/upvote3.png'", :onmouseout => "this.src='/assets/upvote2.png'"),:action=>'upvote',:id=>topic_id %>
				<% else %>&nbsp;&nbsp;&nbsp;&nbsp;
				<% end %>

				<% if topic_url != '' %>
					<b><%= link_to(topic_subject,topic_url,:target=>'_blank') %>&nbsp;</b>
				<% else %>          
					<b><%= link_to(topic_subject,:controller=>'comments',:topic_id=>topic_id) %>&nbsp;</b>
				<% end %>
				<% cs = Comment.where(:topic_id=>topic_id).size %>
			 	<% if session[:user_id] %>
					<% if cs==0 %>
	<!--				</div>-->
					<font size =0.5em class="subject_list_app">
						<%= link_to("discuss",:controller=>'comments',:action=>'index',:topic_id=>topic_id,:style=>"font-size:0.5em") %>
					</font>
					<% else %>
						<% if cs==1 %>
							<font size = 1em class="subject_list_app">
							<%= link_to(cs.to_s+" comment",:controller=>'comments',:topic_id=>topic_id,:style=>"font-size: 1em") %>
							</font>
						<% else %>
							<font size =1em class="subject_list_app">
							<%= link_to(cs.to_s+" comments",:controller=>'comments',:topic_id=>topic_id,:style=>"font-size: 1em") %>
							</font>
						<% end %>
					<% end %>
				<% else %>
					<% if cs==0 %>
						<font size = 1em class="subject_list_app">
						<%= link_to("discuss",:controller=>'comments',:action=>'index',:style=>"font-size: 1em",:topic_id=>topic_id) %>						
						</font>
					<% else %>
						<font size = 1em class="subject_list_app">
						<%= link_to(cs.to_s+" comments",:controller=>'comments',:action=>'index',:topic_id=>topic_id,:style=>"font-size: 1em;") %>
						</font>
					<% end %>
				<% end %>&nbsp;&nbsp;&nbsp;
				<% if session[:user_id] == topic_user_id && topic_points < 2 && noEditNoDelete == false %> 
					<%= link_to image_tag("Edit2.png", :border => "0", :onmouseover => "this.src='/assets/Edit3.png'", :onmouseout => "this.src='/assets/Edit2.png'"), :action=>'edit', :id=>topic_id  %>
					<%= link_to image_tag("Delete2.png", :border => "0", :onmouseover => "this.src='/assets/Delete3.png'", :onmouseout => "this.src='/assets/Delete2.png'"), :action=>'delete', :id=>topic_id  %>
					<br>&nbsp;&nbsp;
				<% else %>			
				<br>&nbsp;&nbsp;
				<% end %>
					<% if i>9 %>
					&nbsp;
					<% end %>
					<% if i>99 %>
					&nbsp;
					<% end %>
					<% if i>999 %>
					&nbsp;
					<% end %>
				<font class="subject_list_text">
				<%= tp=topic_points %> <% if tp==1 %> point <% else %> points <% end %>&nbsp;
				by <%= User.where(:id => topic_user_id).first.login %>&nbsp;
				<% @blob = ((Time.now.to_i - topic_created_at.strftime("%s").to_i)/60) %>
					 <% @text = "minutes ago"%>
					 <% if @blob > 120 then @blob = @blob/60; @text="hours ago"; end %> 
					 <% if @blob > 48 && @text=="hours ago" then @blob = @blob/24; @text="days ago"; end %> 
					 <% if @blob > 730 && @text=="days ago" then @blob = @blob/365; @text="years ago"; end %> 
					<%= @blob %> <%= @text %>
					</font>
		<% end %>
	<!--/table-->
	<br>
	<% if @next>1 then %>
	<%= link_to "previous", :action=>'list',:next=>@next.to_i-2 %>&nbsp;&nbsp;
	<% end %>
	<% if @topics.size > @next*30 then %>
	<%= link_to "next",{:action=>'list',:next=>@next} %>
	<% end %></font>
