<% @page_title = "Live Gold Chart & News" %>

<% per_page = 8 %>

<div class="box white container">
	<div class="top">
		<div class="top"><div class="top">&nbsp;</div></div>
	</div>
	<div class="middle">
		<div class="middle"><div class="middle">
			<div class="content">
				<div class="h1">Discuss the news</div>

				<div class="header">

					<div class="search_string">
						<div class="in">
							<div class="in">
								<%= form_tag topics_path do %>
									<%= text_field_tag :search_string, @search_string %>
									<%= submit_tag "Search" %>
								<% end %>
<!--
								<input name="string" type="text" />
								<input name="Search" type="submit"/>
-->
							</div>
						</div>
					</div>

					<div class="sort">
						<span>Sort by</span>
						<span class="sort left"><%= link_to "Popularity", topics_path(:sort=>'popularity'), :class => 'sort left' %></a>
						<span class="sort right"><%= link_to "Date", topics_path(:sort=>'date'), :class => 'sort right' %></span>
					</div>

					<div class="rightBox">
						<div class="in">
							<div class="in">
								<span class="add_thread"><%= link_to "add thread", {:action=>'new'}, :class => 'add_thread' %></span>
							</div>
						</div>
					</div>
				</div>
				<table class="topics">
					<% if @topics.size > @next*per_page then end_step=@next*per_page else end_step=@topics.size end %>
					<% for i in @next*per_page-(per_page-1)..end_step do %>

					<% 
						topic = @topics[i-1]

						if defined?(topic.id)
							topic_id = topic.id
							topic_url = topic.url
							topic_user_id = topic.user_id
							topic_subject = topic.subject
							topic_points = topic.points
							topic_created_at = topic.created_at
							topic_upvoted_by = topic.upvoted_by
						else
							topic_id = topic["id"].to_i
							topic_url = topic["url"]
							topic_user_id = topic["user_id"].to_i
							topic_subject = topic["subject"]
							topic_points = topic["points"].to_i
							topic_created_at = topic["created_at"].to_date
							topic_upvoted_by = topic["upvoted_by"]
						end 
					%>
					<tr>	
						<td class="no"><span class="no"><%= i %></span></td>
						<td class="vote">
							<span class="vote"><%= link_to "vote", {:action=>'upvote',:id=>topic_id}, :class => "vote" %></span>
							vote
						</td>
						<td class="topic">
							<span class="topic">
							<% if topic_url != '' %>
								<%= link_to(topic_subject,topic_url,:target=>'_blank') %>
							<% else %>          
								<%= link_to(topic_subject,{:controller=>'comments',:topic_id=>topic_id}, :class=>"ajax_request") %>
							<% end %>
							</span>
							<span class="points"><%= tp=topic_points %> <% if tp==1 %> point <% else %> points <% end %></span>
							<span class="date">
							<% 
								@blob = ((Time.now.to_i - topic_created_at.strftime("%s").to_i)/60) 
								@text = "minutes ago"
								if @blob > 120 then @blob = @blob/60; @text="hours ago"; end
								if @blob > 48 && @text=="hours ago" then @blob = @blob/24; @text="days ago"; end
								if @blob > 730 && @text=="days ago" then @blob = @blob/365; @text="years ago"; end 
							%>
							<%= @blob %> <%= @text %>
							</span>
							<span class="by">by <%= User.where(:id => topic_user_id).first.login %></span>
						</td>
						<td class="comments_count">
							<% cs = Comment.where(:topic_id=>topic_id).size %>
							<%= cs %>
							<% if cs <= 1 %>
								comment
							<% else %>
								comments
							<% end %>
						</td>
						<td class="discuss">
							<span class="discuss"><%= link_to "discuss", {:controller=>'comments',:action=>'index',:topic_id=>topic_id}, :class => "discuss ajax_request" %></span>
						</td>
					</tr>
					<% end %>
				</table>
				<div class="footer">

					<div class="pagination">
						<div class="step next">
						<% if @next>1 then %>
							<%= link_to "Previous page",{:action=>'list',:next=>@next.to_i-2} %>
						<% end %>
						</div>

						<div class="pages">
							<% 
								i = @next
								pages = per_page+@next
								puts 'PER PAGE: '+pages.to_s
								puts 'NEXT: '+@next.to_s
								#pages = (@topics.size/per_page.to_f).floor
								pages = 9
								while i < pages 
									class_ = '';
									class_ = 'current' if (@next.to_i - 1) == i
									%><%= link_to (i+1), {:action=>'list', :next=> i}, :class => class_ %><% 
									i += 1; 
								end 
							%>

						</div>

						<div class="step previous">
						<% if @topics.size > @next*per_page then %>
							<%= link_to "Next page", :action=>'list',:next=>@next %>
						<% end %>
						</div>
					</div>

					<div class="rightBox">
						<div class="in">
							<div class="in">
								<span class="add_thread"><%= link_to "add thread", {:action=>'new'}, :class => 'add_thread' %></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div></div>
	</div>
<div class="bottom"><div class="bottom"><div class="bottom">&nbsp;</div></div></div>
</div>

