<% @page_title = "Live Gold Chart & News" %>

<% per_page = 10 %>

<div id="content" class="box white container">
	<div class="top">
		<div class="top"><div class="top">&nbsp;</div></div>
	</div>
	<div class="middle">
		<div class="middle"><div class="middle">
			<div class="content">
				<h2>Gold Price News</h2>

				<div class="header">

					<div class="search_string">
						<div class="in">
							<div class="in">
								<form accept-charset="UTF-8" action="/topics/list" method="post" class="ajax_request">
									<%= text_field_tag :search_string, @search_string %>
									<%= submit_tag "Search" %>
								</form>
<!--
								<input name="string" type="text" />
								<input name="Search" type="submit"/>
-->
							</div>
						</div>
					</div>
					<% 
						sort_pop_class = 'ajax_request sort left'
						sort_date_class = 'ajax_request sort right'

						if @sort_by == 'popularity'
							sort_pop_class = sort_pop_class.concat(' current')
						else 
							sort_date_class = sort_date_class.concat(' current')
						end 
					%>
					<div class="sort">
						<span>Sort by</span>
						<span class="sort left">
						<%= link_to "Popularity", topics_path(:sort=>'popularity',:search_string=>@search_string), :class => sort_pop_class %></a></span>
						<span class="sort right">
						<%= link_to "Date", topics_path(:sort=>'date',:search_string=>@search_string), :class => sort_date_class %></span>
					</div>

					<div class="rightBox">
						<div class="in">
							<div class="in">
								<span class="add_thread"><%= link_to "add thread", {:action=>'new'}, :class => 'add_thread dialog', :rel=>"dialog_content" %></span>
							</div>
						</div>
					</div>
				</div>
				<table class="topics">
					<% if @topics.size > @next*per_page then end_step=@next*per_page else end_step=@topics.size end %>
					<% for i in @next*per_page-(per_page-1)..end_step do %>
					<% 
						topic = @topics[i-1]

						if defined?(topic.id)
							topic_id = topic.id
							topic_url = topic.url
							topic_user_id = topic.user_id
							topic_subject = topic.subject
							topic_points = topic.points
							topic_created_at = topic.created_at
							topic_upvoted_by = topic.upvoted_by
							topic_snippet = topic.snippet
							topic_text = topic.text
						else
							topic_id = topic["id"].to_i
							topic_url = topic["url"]
							topic_user_id = topic["user_id"].to_i
							topic_subject = topic["subject"]
							topic_points = topic["points"].to_i
							topic_created_at = topic["created_at"].to_datetime
							topic_upvoted_by = topic["upvoted_by"]
							topic_snippet = topic["snippet"]
							topic_text = topic["text"]
						end 
					%>
					<tr>	
						<td class="no"><span class="no"><%= i %></span></td>
						<td class="vote">
							<% if( session[:user_id] != nil && session[:user_id] != topic_user_id && !(topic_upvoted_by.include? session[:login] if topic_upvoted_by != nil)) %>
								<span class="vote"><%= link_to "vote", {:action=>'upvote',:id=>topic_id}, :class => "vote ajax_request no_history" %></span>
								vote
							<% end %>
							<% if (session[:user_id] == nil) %>
								<span class="vote"><%= link_to "vote", {:action=>'upvote',:id=>topic_id}, :class => "vote ajax_request no_history" %></span>
								vote
							<% end %>
						</td>
						<td class="topic">
							<h3 class="topic">
								<%= link_to topic_subject, {:controller=>'comments',:action=>'index',:topic_id=>topic_id,:sort=>@sort_by}, :class => "discuss ajax_request" %>
							</h3>
							<% if topic_snippet != nil %>
								<!--% t = topic_snippet.gsub(/\n/,' ') %-->
								<!--% t.gsub!('<p>',' ') %-->
								<!--% t.gsub!('</p>',' ') %-->
								<!--% t.gsub!('&nbsp;',' ') %-->
								<% t = sanitize(topic_snippet, :tags => %w(), :attributes => %w()) %>
								<span class="snippet"><%= if topic_snippet.size > 300 then t.slice(0,300)+'...' else t end %></span>
							<% end %>
							<span class="points"><%= tp=topic_points %> <% if tp==1 %> point <% else %> points <% end %></span>
							<span class="date">
							<% 
								@blob = ((DateTime.now.change(:offset=>"+0000").to_i - topic_created_at.strftime("%s").to_i)/60) 
								@text = "minutes ago"
								if @blob > 120 then @blob = @blob/60; @text="hours ago"; end
								if @blob > 48 && @text=="hours ago" then @blob = @blob/24; @text="days ago"; end
								if @blob > 730 && @text=="days ago" then @blob = @blob/365; @text="years ago"; end 
							%>
							<%= @blob %> <%= @text %>
							</span>
							<span class="by">by <%= User.where(:id => topic_user_id).first.login %></span>
						</td>
						<td class="comments_count">
							<%
								cs = Comment.where(:topic_id=>topic_id).size
								if cs <= 1 
									cs = cs.to_s.concat(" comment")
								else
									cs = cs.to_s.concat(" comments")
								end
							%>
							<%= link_to cs, {:controller=>'comments',:action=>'index',:topic_id=>topic_id,:sort=>@sort_by}, :class => "discuss ajax_request" %>
						</td>
						<td class="discuss">
							<span class="discuss"><%= link_to "discuss", {:controller=>'comments',:action=>'index',:topic_id=>topic_id,:sort=>@sort_by}, :class => "discuss ajax_request" %></span>
						</td>

						<% if (topic_user_id == session[:user_id] && cs.to_i < 2) || ( !session[:user_id].nil? && User.find(session[:user_id]).login == 'admin') %>
						<td class="edit" style="width:1px;">
							<span class="edit"><%= link_to "edit", {:controller=>'topics',:action=>'edit',:id=>topic_id,:sort=>@sort_by}, :class=>'dialog', :rel=>'dialog_content' %></span>
						</td>
						<td class="delete"
						    style="position:relative;
							width:1px;">
							<%= link_to "delete", '', :class=>"delete" %>
<div class="delete-box" style="display: none;">
									<a href="/topics/destroy/<%= topic_id %>/<%= @sort_by %>" rel="content" class="yes no_history ajax_request">Yes</a>
									<a href="#" class="no no_history">No</a>
								</div>
						</td>
						<% else %>
						<td style="width:1px;">&nbsp;</td>
						<td style="width:1px;">&nbsp;</td>
						<% end %>
					</tr>
					<% end %>
				</table>
				<div class="footer">

					<div class="pagination">
						<div class="step next">
						<% if @next>1 then %>
							<%= link_to "Previous page",{:action=>'list',:next=>@next.to_i-2,:sort=>@sort_by}, :class=>"ajax_request" %>
						<% end %>
						</div>

						<div class="pages">
							<% 
								i = @next
								total_pages = (@topics.size/per_page.to_f).ceil

								if total_pages < 9
									pages = total_pages
									i = 0
								else
									if i > (total_pages-5)
										pages = total_pages
										i = total_pages-8
										i=i-1
									else
										if i>5
											pages = i+4
											i = i-5 
										else 
											pages = 9
											i = 0
										end
									end
								end

								while i < pages 
									class_ = 'ajax_request'
									if( (@next.to_i - 1) == i )
										class_ = class_.concat(' current')
									end
									%>
							<%= link_to (i+1), {:action=>'list', :next=> i, :search_string=>@search_string,:sort=>@sort_by}, :class => class_ %>
							<% 
									i += 1; 
								end 
							%>

						</div>
						<div class="step previous">
						<% if @topics.size > @next*per_page then %>
							<%= link_to "Next page", {:action=>'list',:next=>@next, :search_string=>@search_string, :sort=>@sort_by}, :class=>"ajax_request" %>
						<% end %>
						</div>
					</div>

					<div class="rightBox">
						<div class="in">
							<div class="in">
								<span class="add_thread"><%= link_to "add thread", {:action=>'new'}, :class => 'add_thread dialog', :rel=>"dialog_content" %></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div></div>
	</div>
<div class="bottom"><div class="bottom"><div class="bottom">&nbsp;</div></div></div>
</div>
