<div id="dialog_content">

	<div class="header">
		<p class="login">Login</p>
		<p class="register">Create account</p>
	</div>

	<% if !params[:notice].blank? %>
	<div class="notice">
		<%= params[:notice] %>
	</div>
	<% end %>


	<div class="login">
		<%= form_tag({:url=>{:action => 'attempt_login'}}, {:class => 'dialog', :rel=>'dialog_content'}) do %>
			<div><%= label_tag(:login) %> <%= text_field_tag(:login) %></div>
			<div class="clear"><%= label_tag(:password) %> <%= password_field_tag(:password) %></div>
		<%= submit_tag("login")%>
	<% end %>
	</div>

	<div class="register">
		<%= form_tag({:action => 'create_account'}, {:class => 'dialog', :rel=>'dialog_content'}) do %>
			<div><%= label_tag(:login) %> <%= text_field_tag(:login) %></div>
			<div><%= label_tag(:password) %> <%= password_field_tag(:password) %></div>
		<%= submit_tag("create account")%>
		<% end %>
	</div>

	<div class="form-buttons">
		<a class="dialog_close">close</a>
	</div>
			
</div>
