<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Language" content="pl">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<title>Gold Chart & News</title>    
	<%= stylesheet_link_tag "style.css" %>
	<%= javascript_include_tag "jquery" %>
	<%= javascript_include_tag "script" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="wrap">
		<div class="head">
			<div class="logo">&nbsp;</div>
			<div class="info">
			<% if session[:login] != nil %>
				<div class="user">You are logged in as <span class="username"><%= session[:login] %></span></div>
				<span class="points">
					<%= p = User.find(session[:user_id]).karma %>
					<% if p == 1 %>point<% else %>points<% end %>
				</span>
			<% end %>
			</div>
			<div class="navigation">
				<a href="/" class="home">Home</a>
				<a href="/" class="news">News</a>

				<a href="/" class="login">Login</a>
				<a href="/" class="register">Register</a>
			</div>
			<div class="clear"></div>
		</div>
		<%= yield %>
	</div>
	<div class="foot">
		<div class="in">
			<div class="logo">&nbsp;</div>
			<div class="navigation">
				<a href="/" class="home">Home</a>
				<a href="/" class="news">News</a>
			</div>
		</div>
	</div>
	<div id="dialog_overall"></div>
	<div id="dialog"><div id="dialog_content"></div></div>
</body>
</html>
